<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SubjectDetails</servlet-name>
        <servlet-class>controller.inter1.SubjectDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectList</servlet-name>
        <servlet-class>controller.inter1.SubjectList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetails</servlet-name>
        <servlet-class>controller.inter1.UserDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassList</servlet-name>
        <servlet-class>controller.inter1.ClassList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectSettingList</servlet-name>
        <servlet-class>controller.inter1.SubjectSettingList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubjectList</servlet-name>
        <url-pattern>/SubjectList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetails</servlet-name>
        <url-pattern>/UserDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassList</servlet-name>
        <url-pattern>/ClassList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectSettingList</servlet-name>
        <url-pattern>/SubjectSettingList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
